<div *ngIf="formGroup">
  <form [formGroup]="formGroup" class="form">
    <editor-expandable-panel
      [opened]="false"
      (toggleOpened)="panelOpened$.next($event)"
    >
      <ng-container slot="header">
        <span>{{ label }}</span>
        <peb-editor-color-picker
          *ngIf="getFillType() === FillType.None || getFillType() === FillType.ColorFill"
          [control]="formGroup.get('bgColor')"
          [simple]="true"
          (changeBlur)="blurred.emit()"
        ></peb-editor-color-picker>
      </ng-container>
      <ng-container slot="body">
        <div class="group background">
          <div class="form-select">
            <peb-editor-sidebar-select
              [options]="fillTypes"
              [disabled]="formGroup.get('fillType').disabled"
              [control]="formGroup.get('fillType')"
              (blurOn)="blurred.emit()"
            ></peb-editor-sidebar-select>
          </div>

          <div [ngSwitch]="getFillType()" class="background">
            <div class="background__color-picker" *ngSwitchCase="FillType.ColorFill">
              <editor-color-picker-spectrum-palette-input
                cpPosition="top"
                [formControl]="formGroup.get('bgColor')"
                (changeBlur)="blurred.emit()"
              ></editor-color-picker-spectrum-palette-input>
            </div>

            <div class="background__image" *ngSwitchCase="FillType.ImageFill">
              <div class="background__options">
                <div class="background__img-container">
                  <div class="spinner" *ngIf="bgImageLoading"></div>

                  <div class="background__thumbnail" *ngIf="formGroup.get('bgImage').value"
                       [style.background-image]="'url(' + formGroup.get('bgImage').value + ')'"></div>

                  <input type="file" accept="image/jpeg,image/png,image/gif" #bgImageInput hidden
                         (change)="changeBgInputHandler($event)">
                </div>

                <div class="background__actions">
                  <peb-editor-sidebar-select
                    [options]="ImageSizes"
                    [disabled]="formGroup.get('imageSize').disabled"
                    [control]="formGroup.get('imageSize')">
                  </peb-editor-sidebar-select>

                  <button class="button background__choose-image-btn" (click)="openMediaStudio()">From Studio</button>

                  <button class="button background__choose-image-btn" (click)="bgImageInput.click()">Choose</button>
                </div>
              </div>

              <div>
                <div>
                  <label
                      #scaleLabel
                      class="group__label">
                    <peb-editor-triangle-right-icon
                      class="group__triangle-icon"
                      [pebEditorAccordion]="scaleWrapper"
                      pebEditorAccordionKey="scaleWrapper"
                      [triggerContainer]="scaleLabel"
                    ></peb-editor-triangle-right-icon>
                    <span>Scale</span>
                  </label>
                </div>

                <div
                    #scaleWrapper
                    class="group__label">
                  <peb-editor-sidebar-slider
                    min="0"
                    max="200"
                    [unit]="sliderUnit"
                    [control]="formGroup.get('imageScale')">
                  </peb-editor-sidebar-slider>
                </div>
              </div>
            </div>

            <div class="background__gradient" *ngSwitchCase="FillType.GradientFill">
              <div class="group">
                <div class="group__row">
                  <div class="group__col">
                    <peb-editor-switch-arrow-icon
                      class="gradient-switch-arrow"
                      *ngIf="panelOpened$ | async"
                    ></peb-editor-switch-arrow-icon>
                    <div class="background">
                      <div class="background__colors">
                        <editor-color-picker-spectrum-palette-input
                          [formControl]="formGroup.get('bgColorGradientStart')"
                          (changeBlur)="blurred.emit()"
                        ></editor-color-picker-spectrum-palette-input>
                      </div>
                      <div class="background__colors">
                        <editor-color-picker-spectrum-palette-input
                          [formControl]="formGroup.get('bgColorGradientStop')"
                          (changeBlur)="blurred.emit()"
                        ></editor-color-picker-spectrum-palette-input>
                      </div>
                    </div>
                  </div>
                  <div class="group__col group__col--gradient">
                    <div class="background background--flex">
                      <div class="background__angle">
                        <peb-editor-sidebar-angle-picker
                          [control]="formGroup.get('bgColorGradientAngle')"
                        ></peb-editor-sidebar-angle-picker>
                      </div>
                      <peb-editor-number-input-old
                        [control]="formGroup.get('bgColorGradientAngle')"
                        [label]="'Angle'"
                        [unit]="'&#176;'"
                        (changeBlur)="blurred.emit()"
                      ></peb-editor-number-input-old>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </editor-expandable-panel>
  </form>
</div>
