:host {
  display: inline-block;
  user-select: none;
  cursor: default;

  &.interactions {
    user-select: auto;
    cursor: pointer;
  }
}

img {
  width: inherit;
  height: inherit;
  user-select: none;
  pointer-events: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}
