@import '../../../spinner';

:host {
  height: 500px;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-left: none;
  font-size: 1em;
  overflow: hidden;

  .screen-mobile {
    height: auto;
    border: none;

    .image {
      height: 175px;
    }
  }

  .title,
  .price {
    font-weight: 300;
    width: 100%;
    text-align: inherit;
    font-size: 0.92em;
    color: #000000;
  }

  .price {
    padding-top: 10px;
  }

  .image {
    height: 60%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image,
  .info {
    width: 90%;
  }

  .loading-spinner-wrapper {
    position: absolute;
  }

  .products-spinner {
    position: absolute;
    top: calc(50% - 1.5em / 2);
  }

  .table-product {
    margin: 0.77em;
    display: flex;
    height: 4em;
    color: #404045;
    width: 100%;
    margin-right: 0;

    &__image {
      width: 2.77em;
      height: 2.77em;
      border-radius: 6px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__image-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__info {
      display: flex;
      margin-left: 1.23em;
      height: 2.77em;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px rgba(151, 151, 151, 0.3);
      height: 100%;
      width: 100%;

      &-wrapper {
        display: flex;
        flex-direction: column;
      }
    }

    &__title {
      font-weight: 400;
      font-size: 1.23em;
      color: #404045;
      text-align: left;
    }

    &__price {
      font-weight: 400;
      font-size: 1.23em;
      color: #404045;
      margin-right: 0.77em;
    }

    &__description {
      color: #78787d;
      font-size: 0.92em;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 18.5em;
      text-align: left;
      overflow: hidden;
    }
  }
}

.hidden {
  display: none !important;
}
