:host {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

svg {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 998;

  .anchor {
    pointer-events: all;

    &.ew {
      cursor: ew-resize;
    }
    &.ns {
      cursor: ns-resize;
    }
    &.nwse {
      cursor: nwse-resize;
    }
    &.nesw {
      cursor: nesw-resize;
    }
  }
}

.section-anchor {
  pointer-events: all;
  z-index: 99998;
  cursor: ns-resize;
}
