<form class="panel" [formGroup]="form">
  <div class="field">
    Enable the password to restrict access to your online store
    Only customers with the password can access it
  </div>
  <input
    class="field field--input field--bordered"
    placeholder="Password"
    type="password"
    formControlName="privatePassword"
  />
  <textarea
    class="field field--textarea"
    placeholder="Message for visitors"
    formControlName="privateMessage"
  ></textarea>
  <label class="field--checkbox">
    <input type="checkbox" formControlName="isPrivate"/>
    <span>Enable password</span>
  </label>
  <button
    class="field field--button"
    [disabled]="form.invalid || form.disabled"
    (click)="onSubmit()"
  >
  <mat-spinner class="mat-spinner-themed" *ngIf="loading" [strokeWidth]="2" [diameter]="22">
  </mat-spinner>
  <div [class.hidden-content]="loading">
    Done
  </div>
  </button>
</form>
